body {
  margin: 0%;

  
}

h2{
  color: darkblue ;
  font-size: 2rem; 
  font-weight: normal;
  margin: 50px auto;
}

h3{
  color: #11999E; 
  font-weight: normal;
  margin: 50px auto;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  border-top-color: lightgray;
  margin: 100px auto;
  width: 5%;

}


.top-container{
  background-color: #b0cac7;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
 
}


.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
 
}

.bottom-container {
  text-align: center;
  background-color: #66bfbf;
  position: relative;

}

.btn{
  
  border: none;
  background-color: #66bfbf;
  padding: 15px 25px;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow:  2px 2px 10px 2px black;
}

.btn:hover{
  background-color: teal;

}

.contact-me{
  margin: 100px auto;
  
}


.Copyright-name{
  color: white;
  margin: 0 auto;
  position:relative;
  bottom: 20px;
 
}
.footer-link{
  font-size: 20px;
  color: #11999E;
  display: inline-block;
  margin: 50px;
  text-decoration-style: none;
}

.middle-container {
  text-align: center;
  padding-top: 100px;

}


.my-name{
  color: #66bfbf;
}

.skill-row{
  width: 50%;
  margin: 0 auto ;
  text-align: left;
  line-height: 2;
}

.skills{
  margin-top: 80px;
}

#name{
  font-family: 'Sacramento', cursive; 
  font-size: 5rem;
  margin: 1rem 0 0 0;
}
#bio{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.4rem;
  margin: 0 0 0 1rem;
  font-weight: normal;
  line-height: 1;
}

#profile-image{
  width: 200px;
  padding: 1rem;
  background-color: lightpink;
  border-radius: 50%;

}
#Programming-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}
#WebD-image{
  width: 25%;
  float: right;
}